{% block content %}
<div class="container justify-content-center">
    <div class="container">
        <table class="table table-hover" style="font-family: 'Nexa Light', Arial, sans-serif;">
            <thead class="thead-dark " style="background-color: #074a7f;color: white;">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Direccion</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Correo</th>
                    <th scope="col">Caso</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Departamento</th>
                </tr>
            </thead>
            {% for res in codigo %}
            <tbody>
                <td>{{ res.codigo_caso }}</td>
                <td>{{ res.cliente.nombre}}</td>
                <td>{{ res.cliente.direccion}}</td>
                <td>{{ res.cliente.telefono}}</td>
                <td>{{ res.cliente.correo}}</td>
                <td>{{ res.observacion}}</td>

                <td>
                    {% if res.estado == True %}
                    Activo
                    {% else %}
                    Inactivo
                    {% endif %}
                </td>
                <td>{{ res.departamento_actual }}</td>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}