{% block content %}
<div class="container justify-content-center">
    <div class="container">
        <table class="table" style="font-family: 'Nexa Light', Arial, sans-serif;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Departamento</th>
                </tr>
            </thead>

            <tbody>
                {% for res in codigo %}
                <td>{{ res.codigo_caso }}</td>
                <td>{{ res.cliente.nombre}}</td>
                <td>
                    {% if res.estado == True %}
                    Activo
                    {% else %}
                    Inactivo
                    {% endif %}
                </td>
                <td>{{ res.departamento_actual }}</td>
                {% endfor %}
            </tbody>

        </table>


    </div>
</div>
{% endblock %}